*{
  margin:0;
  padding:0;
  text-decoration: none;
}

.container{
  display:flex;
 
}

main{
width: 100%;
  
}

.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 250px;
  transition: all 0.5s;
}

.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}


.bars{
display:flex;
  font-size: 25px;
  margin-left: 10px;
}

.link{
  display: flex;
  color: #fff;

padding : 20px 15px;
gap: 15px;
transition: all 0.5s;
}

.link:hover{
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.active{
  background: lightskyblue;
  color: #000;
}

.icon, .link_text{
  font-size: 20px;
}

#root {
  max-width: 2000px;
  margin: 0 auto;
  
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
