@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}
.dark{
    background-color: black;
    color: #fff;
}
.light{
    background-color: #ffffff;
    color: #666e75;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    /* display: none; */
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #088afc;
  border-radius: 5px;
}
body::-webkit-scrollbar{
    display: none;
}